// main: ../index.scss

@mixin full-parent {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
}

@mixin middle-center {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
